#Ignore music files folder
music

#Ignore compiled python files
*.pyc
__pycache__

#Ignore vscode files
/.vscode

#Ignore awful (beautiful) mac files
.DS_Store

#Ignore old data folder (mostly for Frank)
olddata